.tab-image img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.top-section {
    display: flex;
}

.tab-info {
    padding: 10px;
    position: relative;
}

.middle-section {
    margin-top: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.bottom-section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.bottom-section img {
    width: 32%;
    object-fit: cover;
}